.codesweetly-rigg-imgs-container {
  column-width: 230px;
  column-gap: 24px;
}

.codesweetly-rigg-image-figure {
  margin: 0;
  margin-bottom: 24px;
  position: relative;
}

.codesweetly-rigg-image-figure img {
  width: 100%;
  cursor: pointer;
}

.codesweetly-rigg-image-figure figcaption {
  opacity: 0;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    180deg,
    rgba(25, 27, 38, 0),
    rgba(25, 27, 38, 0.56)
  );
  padding-block: 16px;
  font-size: 0.85rem;
  text-align: center;
  color: #fff;
}

.codesweetly-rigg-image-figure:hover figcaption {
  opacity: 1;
}
